
@import "../bower_components/normalize-css/normalize";
@import "../bower_components/typeplate-starter-kit/scss/typeplate";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@mixin grid_r($col, $width) {
    @media only screen and (min-width: #{$width}px) {
        .grid-#{$col}-#{$width} {
            & > * {
                flex-basis: #{100/$col}%;
            }
        }
    }
}

@mixin grid($col) {
    .grid-#{$col} {
        & > * {
            flex-basis: #{100/$col}%;
        }
    }
}

@include grid(2);
@include grid(4);
@include grid(5);

@include grid_r(2,400);
@include grid_r(2,800);

@include grid_r(4,400);
@include grid_r(4,800);

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
/**
 * YOUR CODE HERE
 */

